/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header #Main-Nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.top-content {
  background-color: #d3d3d3;
}
.top-content img {
  height: 40%;
  width: 30%;
  margin: 50px ;
}
.top-content h1 {
  font-size: 3em;
  margin: 0 0 0 20px;
}
.top-content p {
  margin: 20px 20px 0 20px;
}
.top-content .top-content button {
  margin: 15px;
}
.top-content button {
  border: none;
  padding: 10px;
  background-color: gray;
  margin: 10px;
}
.top-content button:hover {
  color: white;
}
.Middle-content {
  display: flex;
  margin: 5%;
  justify-content: space-between;
}
.Middle-content td,
.Middle-content th {
  border: 1px solid black;
}
.Middle-content .info {
  width: 50%;
}
.Middle-content .talents {
  width: 50%;
  border: 1px solid black;
}
.Bottom-Content td,
.Bottom-Content th {
  border: 1px solid black;
}
footer {
  background: #d3d3d3;
  padding: 20px 0 0 0;
}
footer p {
  display: flex;
  justify-content: center;
}
